h1 {
    color: white;
    font-size: 30px;
    text-shadow: 2px 2px black;
}
body {
	font-size: 20px;
	color: white;
    text-shadow: 3px 2px black;
}

#greenbox {
	background-color:green;
	width: 400px;
	padding: 10px;
	

}
#m { background-color: navy;
	      border: 5px navy;
	      color: white;
	      width: 110px;
	      position: relative;
	      top: 1px;
          left:-1px;
}

#submit { background-color: navy;
	      border: 50px navy;
	      color: white;
	      width: 110px;
	      position: relative;
	      top: 1px;
          left:-1px;
}

