
h1 {
	text-align: center;
	color: white;
}

#image {
	padding-top: 40px;
}

body {
	text-align: center;
	background-image:url('https://media.giphy.com/media/xTiTnoFlplnVO1Sow0/giphy.gif');
	background-size:100%;
	background-repeat: repeat-y;
	background-attachment: fixed;
	height:100%
	width: 100%;
}

#frontpic {border-style: solid;}