h1 {
	text-align: center;
}

body {
	text-align: center;
}

.btn {
	height:100px;
	width:200px;
}

#workplace {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    border: 3px solid blue;
}

#professional {
background-color: black; 
}  