<h1>Task Creator</h1>
<form method="POST">
	<p>Who needs to do this task?</p>
	<input name="name"></input>

	<p>What is the name of the task?</p>
	<input name="task"></input>

	<p>Difficulty Level</p>
	<input name="level"></input>

	<p>Due Date</p>
	<input name="date"></input>

	<p>Instructions</p>
	<textarea name="instructions" placeholder="Instructions..." height = 100px width = 100px></textarea>

	<p>Assigned By</p>
	<input name="assignBy"></input>

	<p>Email</p>
	<input name="email"></input>

	<br>
	<br>
	<input type="submit"/>
</form>
<form method="GT" action="/formlist">
<button class = "btn"> View Current Tasks </button>
</form>