<h1>Task Creator</h1>
<form method="POST">
	<p>What is your name?</p>
	<input name="name"></input>

	<p>What is your Task</p>
	<input name="task"></input>

	<p>Difficulty Level</p>
	<input name="level"></input>

	<p>Due Date</p>
	<input name="date"></input>

	<p>Instructions</p>
	<textarea name="instructions" placeholder="Instructions..."></textarea>

	<p>Assigned By</p>
	<input name="assignBy"></input>
	<br>
	<br>
	<input type="submit"/>
</form>
<form method="GT" action="/formlist">
<button class = "btn"> View Current Tasks </button>
</form>