<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="resources/style.css">
<title>Work Flow</title>
<h1>Work Flow</h1>
<br>
<br>
<br>
<br>


<img id='frontpic' src="http://edge.alluremedia.com.au/m/l/2015/02/Office.jpg"
         height=450
         width=650/>

         <br>

<br>
<br>
<form method="GET" action="/second">
<button type="submit"> Create A Task </button>
</form>
<form method="GT" action="/formlist">
<button class = "btn"> View Current Tasks </button>
</form>
<!--
-<img src = 'https://media.giphy.com/media/xTiTnoFlplnVO1Sow0/giphy.gif' id ='selector' />
- -->

</head>
<body>

</body>
</html>